  button{
    width: 200px;
    height: 60px;
  
    display: flex;
    justify-content: center;
    align-items: center; 
  
    margin: 4.5px;
    padding: 10px;
    padding-left: 24px;
    padding-right: 24px;
    border: 0.5px solid;
    border-radius: 100px;
   
    border-color: var(--border-color);
    color: var(--border-color);
  
    cursor: pointer;
   }
   
   .btn-ok .label{
    color: var(--on-primary-color);
    align-items: center;
    font-size: 2.0rem;
    font-weight: 400;
    line-height: 24px;
    padding: 0;
    cursor: pointer;
   }  

  div{
    border: none;
  }

  a:link{
    text-decoration: none;
  }
  
  section .section-biography{
    width: 100%;
    height: 450px;
    display: flex;
    margin-bottom: 16px;
    padding: 10px;
  }

  section .section-biography .avatar{
    width: 350px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section .section-biography .avatar img{
    width: 75%;
    height: auto;
  }

  section .section-description{
    width: 1100px;
    height: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }

  section .section-academy{
    width: 400px;
    height: calc(inherit - 20px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border: 2px solid;
    background-color: var(--container-color);
    background-image: var(--container-image);
    border-color: var(--border-color);
  }

  section .section-skills{
    width: 100%;
    height: 190px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--foreground-color);
    background-image: var(--foreground-image);
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: var(--border-color);
    border-radius: 0;
  }

  section img{
     width: 28%;
     height: 80px;
  }

  section .section-skills-hard{
    width: 100%;
    height: auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
  }

  section .section-continous{
    width: 100%;
    height: 350px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 32px;
    border-radius: 10px;
    text-align: center;
  }

  section .section-continuos-sections{
    width: 100%;
    height: inherit;
    padding: 10px;
    display: flex;
    flex-direction: row;
  }

  .continuos-col{
    width: 100%;
    height: inherit;
    display: flex;
    margin: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .continuos-col img{
    width: 50%;
    height: auto;
    padding:5px;
    margin-bottom: 12px;
    border-radius: 30px;
    border: 1px solid;
    border-color: var(--border-color);
  }

  section-col-continous{
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .section-border{
    border: 1px solid;
    border-color: var(--border-color);
    border-radius: 10px;
  }

  section-col{
    width: 49%;
    height: inherit;
    border-right: 1px solid;
    border-color: var(--border-color);
  }

  section-channel{
    width: 100%;
    height: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--container-color);
    background-image: var(--container-image);
    margin-bottom: 16px;
  }

  section-channel{
    width: 100%;
    height: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--container-color);
    background-image: var(--container-image);
    margin-bottom: 16px;
  }

  .section-channel-sections{
    width: 100%;
    height: 450px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  section-col{
    width: 25%;
    height: auto;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
    margin-bottom: 4px;
  }

  .section-channel-sections img{
     width: 70%;
     height: auto;
     border-radius: 15px;
     border: 2px solid;
     border-color: var(--border-color);
  }

  .section-channel-sections a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
  }
  
  @media screen and (max-width: 680px){
   h1{
    font-size: 2.0rem;
   }
  
   h3{
    font-size: 1.8rem;
   }
  
   .wrapper{
      flex-direction: column;
      width: 100%;
      height: auto;
    }
  
    .wrapper-column-logo{
      align-items: start;
    }
    .wrapper-column-logo img{
     width: 50%;  
     height: auto;   
    }
  
    #canvas-cards-select{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: auto;
      padding: 10px;
    }
  
    #canvas-cards{
      width: 90%;
      height: auto;
    }
    
    main,
    aside,
    .results{
      width: 100%;
    }
  
    .footer-channel img{
      width: 98%;
      height: auto;
    }
  
    #cards-showme{
      width:50%;
    }
  
    aside{
      display: none;
    }
  }