  button{
    width: 250px;
    height: 60px;
  
    display: flex;
    justify-content: center;
    align-items: center; 
  
    margin: 4.5px;
    padding: 10px;
    padding-left: 24px;
    padding-right: 24px;
    border: 0.5px solid;
    border-radius: 100px;
   
    border-color: rgb(139, 213, 255);
    background-color: var(--border-color);
  
    cursor: pointer;
   }
   
   .btn-ok .label{
    color: var(--on-primary-color);
    align-items: center;
    font-size: 2.0rem;
    font-weight: 400;
    line-height: 24px;
    padding: 0;
    cursor: pointer;
   }  
  
  div{
    border: none;
  }
  
  section .section-biography{
    width: 100%;
    height: 450px;
    display: flex;
    background-color: var(--container-color);
    background-image: var(--container-image);
    margin-bottom: 16px;
    padding: 10px;
  }

  section .section-biography .avatar{
    width: 350px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section .section-biography .avatar img{
    width: 75%;
    height: auto;
  }

  section .section-description{
    width: 1100px;
    height: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }

  section .section-academy{
    width: 400px;
    height: calc(inherit - 20px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border: 2px solid;
    border-color: var(--border-color);
  }

  section .section-skills{
    width: 100%;
    height: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--container-color);
    background-image: var(--container-image);
    margin-bottom: 16px;
  }

  section img{
     width: 30%;
     height: 80px;
  }
  
  @media screen and (max-width: 680px){
   h1{
    font-size: 2.0rem;
   }
  
   h3{
    font-size: 1.8rem;
   }
  
   .wrapper{
      flex-direction: column;
      width: 100%;
      height: auto;
    }
  
    .wrapper-column-logo{
      align-items: start;
    }
    .wrapper-column-logo img{
     width: 50%;  
     height: auto;   
    }
  
    #canvas-cards-select{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: auto;
      padding: 10px;
    }
  
    #canvas-cards{
      width: 90%;
      height: auto;
    }
    
    main,
    aside,
    .results{
      width: 100%;
    }
  
    .footer-channel img{
      width: 98%;
      height: auto;
    }
  
    #cards-showme{
      width:50%;
    }
  
    aside{
      display: none;
    }
  }